<launch> 
<!--
Copyright (c) 2018 Michael Wimble

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
  <arg name="do_d435" default="true" />
  <arg name="do_imu" default="false" />
  <arg name="do_lidar" default="true" />
  <arg name="do_map" default="true" />
  <arg name="do_nadie_motor" default="true" />
  <arg name="do_move_base" default="true" />
  <arg name="do_rtab_map" default="true" />
  <arg name="do_t265" default="true" />

  <arg name="robot_namespace" default="/nadie" />

  <include file="$(find nadie_control)/launch/machines.xml" />
  <!-- Launch the D435 depth camera. Note this is outside of "nadie" group for name collision avoidance. -->
  <include if="$(arg do_d435)" file="$(find realsense2_camera)/launch/rs_aligned_depth.launch" >
    <arg name="serial_no" value="836612072267" />
  </include>

<group ns="$(arg robot_namespace)">

    <!-- Bring up the LIDAR -->
    <include
      if="$(arg do_lidar)"
      file="$(find nadie_control)/launch/neato_lidar.launch"
      />
    
    <!-- Launch the IMU -->
    <node 
      if="$(arg do_imu)"
      ns="imu" 
      name="imu_node"
      pkg="imu_bno055_i2c"
      type="imu_bno055_i2c_node"
      respawn="true"
      respawn_delay="2">
        <param name="device" type="string" value="/dev/i2c-5"/>
        <param name="address" type="int" value="40"/> <!-- 0x28 == 40 is the default for BNO055 -->
        <param name="frame_id" type="string" value="imu"/>
    </node>

    <!-- Load the map -->
    <include if="$(arg do_map)" file="$(find snowberry_map)/launch/map.launch" />

    <!-- Bring up the motor stack -->
    <include if="$(arg do_nadie_motor)" file="$(find nadie_control)/launch/nadie_motor.launch" />

    <!-- Brunk up move_base -->
    <include if="$(arg do_move_base)" file="$(find nadie_control)/launch/move_base_realsense.launch" />

    <!-- Launch the T265 tracking camera -->
    <include if="$(arg do_t265)" file="$(find nadie_control)/launch/t265a.launch" />

    
    <!--node
      name="realsense_depth_transform" 
      pkg="tf" 
      type="static_transform_publisher" 
      args="0.0 0 0.0 0.0 0 0 camera_odom_frame camera_link 200" /-->

  </group>

<!-- Launch rtabmap_ros -->
<group ns="rtab">
    <include if="$(arg do_rtab_map)" file="$(find rtabmap_ros)/launch/rtabmap.launch" >
      <arg name="camera_info_topic" value="/camera/color/camera_info" />
      <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw" />
      <arg name="frame_id" value="camera_link" />
      <!--arg name="odom_frame_id" value="odom" /-->
      <arg name="odom_topic" value="odom" />
      <arg name="rgb_topic" value="/camera/color/image_raw" />
      <arg name="rtabmap_args" value="--delete_db_on_start" />
      <arg name="rtabmapviz" value="false" />
      <arg name="rviz" value="false" /> 
    </include>

    <node
      name="camera_link_to_base_link" 
      pkg="tf" 
      type="static_transform_publisher" 
      args="-0.2425 0.0 -0.2101 0 0.07 0 camera_link base_footprint 200" />
</group>

 </launch> 
