<launch> 
<!--
Copyright (c) 2018 Michael Wimble

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
    <arg name="do_debug" default="false" />
    <arg if="$(arg do_debug)" name="launchPrefix" value="xterm -e gdb --args" />
    <arg unless="$(arg do_debug)" name="launchPrefix" value="" />

    <arg name="do_aruco_detect" default="true" />
    <arg name="do_fiducial_slam" default="true" />
    <arg name="do_map" default="false" />
    <arg name="do_static_transform_publisher" default="true" />
    <arg name="do_usb_cam>" default="true" />
    
    <arg name="base_frame" default="base_link"/>
    <arg name="camera" default=""/>
    <arg name="camera_frame_id" default="fiducial_usb_camera"/>
    <arg name="camera_id" default="0"/>
    <arg name="camera_name" default="global_shutter_1280_720"/>
    <arg name="dictionary" default="7"/>
    <arg name="do_pose_estimation" default="true"/>
    <arg name="fiducial_len" default="0.14"/>
    <arg name="fiducial_len_override" default="" />
    <arg name="future_date_transforms" default="0.1"/>
    <arg name="ignore_fiducials" default="" />
    <arg name="image" default="image_raw"/>
    <arg name="map_frame" default="map"/>
    <arg name="odom_frame" default="fiducial_odom"/>
    <arg name="publish_6dof_pose" default="false"/>
    <arg name="publish_tf" default="true"/>
    <arg name="systematic_error" default="0.01"/>
    <arg name="transport" default=""/>

    <node 
        name="fiducial_usb_cam"
        output="log"
        pkg="usb_cam"
        respawn="true"
        respawn_delay="2"
        type="usb_cam_node" >
        <param name="camera_frame_id" value="$(arg camera_frame_id)" />
        <param name="camera_info_url" value="file://$(find nadie_control)/camera_info/global_shutter_1280_720.yaml" />
        <param name="framerate" value="200" />
        <param name="image_height" value="720" />
        <param name="image_width" value="1280" />
        <param name="io_method" value="mmap"/>
        <param name="pixel_format" value="mjpeg" />
        <param name="video_device" value="/dev/video0" />
    </node>

    <node 
        if="$(arg do_aruco_detect)"
        name="aruco_detect"
        output="screen" 
        pkg="aruco_detect"
        respawn="false"
        type="aruco_detect" 
        >
        <param name="dictionary" value="$(arg dictionary)"/>
        <param name="fiducial_len" value="$(arg fiducial_len)"/>
        <param name="fiducial_len_override" value="$(arg fiducial_len_override)"/>
        <param name="ignore_fiducials" value="$(arg ignore_fiducials)"/>
        <param name="publish_images" value="true" />
        <remap from="/camera" 
               to="/fiducial_usb_cam/image_raw" />
        <remap from="/camera_info" to="/fiducial_usb_cam/camera_info"/>
    </node>

    <node 
        if="$(arg do_fiducial_slam)"
        launch-prefix="$(arg launchPrefix)" 
        name="fiducial_slam" 
        output="screen" 
        pkg="fiducial_slam" 
        respawn="false"
        type="fiducial_slam" 
        >
        <param name="base_frame" value="$(arg base_frame)" />
        <param name="do_pose_estimation" value="$(arg do_pose_estimation)" />
        <param name="fiducial_len" value="$(arg fiducial_len)" />
        <param name="future_date_transforms" value="$(arg future_date_transforms)" />
        <param name="map_file" value="$(env HOME)/.ros/slam/map.txt" />
        <param name="map_frame" value="$(arg map_frame)" />
        <param name="odom_frame" value="$(arg odom_frame)" />
        <param name="publish_6dof_pose" value="$(arg publish_6dof_pose)" />
        <remap from="/camera_info" to="/fiducial_usb_cam/camera_info"/>
</node>

    <!-- Load the map -->
    <include if="$(arg do_map)" file="$(find snowberry_map)/launch/map.launch" />

    <node
        if="$(arg do_static_transform_publisher)"
        name="aruco_cam_tf"
        output="screen" 
        pkg="tf"
        respawn="false"
        type="static_transform_publisher"
        args="0.0 0.0 0.0 0 0 0 base_link aruco_cam 100"
    />
</launch>