<!--
Copyright (c) 2020 Michael Wimble

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<launch> 
    <arg name="do_amcl"                     default="false" />
    <arg name="do_cartographer"             default="false" />
    <arg name="do_cartographer_localization" default="false" />
    <arg name="do_d435"                     default="true" />
    <arg name="do_gmapping"                 default="false" />
    <arg name="do_lidar"                    default="true" />
    <arg name="do_map_server"               default="false" />
    <arg name="do_motor_controller"         default="true" /> <!-- sub option for do_nadie_motor -->
    <arg name="do_move_base"                default="false" />
    <arg name="do_nadie_motor"              default="true" />
    <arg name="do_rviz"                     default="false" />
    <arg name="do_t265"                     default="true" />
    <arg name="do_t265_odom_transform"      default="false" />
    <arg name="do_t265_static_transform"    default="true" />
    <arg name="map_file"                    default="$(find snowberry_map)/maps/Snowberry.yaml" />
    <arg name="use_sim_time"                default="false" />

    <param name="/use_sim_time" value="$(arg use_sim_time)" />
    <arg name="robot_namespace" default="/nadie" />

    <!-- Launch the left and right D435 depth cameras. Note this is outside of "nadie" group for name collision avoidance. -->
    <include if="$(arg do_d435)" file="$(find nadie_control)/launch/nadie2_d435_pair.launch" />

    <!-- Load the map -->
    <include if="$(arg do_map_server)" 
             file="$(find snowberry_map)/launch/nadie2.map.launch" >
        <arg name="map_file" value="$(arg map_file)" />
    </include>

    <node
        if="$(arg do_gmapping)"
        name="gmapping_node"
        pkg="gmapping"
        type="slam_gmapping"
        output="screen"
    >
        <param name="angularUpdate" value="0.1" />
        <param name="delta" value="0.0254" />
        <param name="linearUpdate" value="0.1" />
        <param name="map_update_interval" value="1.0" />
        <param name="maxRange" value="4.8" />
        <param name="maxUrange" value="6.0" />
        <param name="odom_frame" value="t265_odom_frame" />
        <param name="temporalUpdate" value="1.0" />
        <param name="xmax" value="50.0" />
        <param name="xmin" value="-50.0" />
        <param name="ymax" value="50.0" />
        <param name="ymin" value="-50.0" />

        <remap from="scan" to="/nadie/scan" />
        <!--remap from="map" to="/nadie/map" /-->
    </node>

    <!-- Bring up the motor stack -->
    <include if="$(arg do_nadie_motor)" file="$(find nadie_control)/launch/nadie2_motor.launch" >
         <arg name="do_motor_controller" value="$(arg do_motor_controller)" />
         <arg name="robot_namespace" value="$(arg robot_namespace)" />
    </include>
    <include unless="$(arg do_nadie_motor)" file="$(find nadie_control)/launch/nadie2_nonmotor.launch" >
         <arg name="robot_namespace" value="$(arg robot_namespace)" />
    </include>

    <!-- Launch the T265 tracking camera -->
    <include if="$(arg do_t265)" file="$(find nadie_control)/launch/nadie2_t265a.launch">
        <arg name="do_t265_odom_transform" value="$(arg do_t265_odom_transform)" />
        <arg name="do_t265_static_transform" value="$(arg do_t265_static_transform)" />
    </include>

    <!-- Launch visualization in rviz --> 
    <node if="$(arg do_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find nadie_rviz)/control.rviz" required="true" /> 

    <!-- Bring up AMCL -->
    <include if="$(arg do_amcl)" file="$(find nadie_control)/launch/nadie2_amcl.launch" />

    <!-- Bring up move_base -->
    <include if="$(arg do_move_base)" file="$(find nadie_control)/launch/nadie2_move_base.launch" />

    <!-- Bring up the LIDAR -->
    <include
      if="$(arg do_lidar)"
      file="$(find nadie_control)/launch/neato_lidar.launch"
      />

    <include
      if="$(arg do_cartographer)"
      file="$(find nadie_control)/launch/nadie2_cartographer.launch"
      />

    <include
      if="$(arg do_cartographer_localization)"
      file="$(find nadie_control)/launch/nadie2_cartographer_localization.launch"
      />

</launch>