<launch> 
  <arg name="doDebug" default="false" />
  <!--arg if="$(arg doDebug)" name="launchPrefix" value="gnome-terminal -e gdb " /-->
  <arg if="$(arg doDebug)" name="launchPrefix" value="xterm -e gdb --args" />
  <arg unless="$(arg doDebug)" name="launchPrefix" value="" />

  <arg name="do_motor_controller" default="false" />
  <arg name="do_odom_tf" default="true" />
  <arg name="model" /> 

  <!-- Parsing xacro and setting robot_description parameter --> 
  <param name="nadie/robot_description" command="$(find xacro)/xacro --inorder $(find nadie_control)/urdf/nadie.xacro" /> 

  <!-- Setting gui parameter to true for display joint slider --> 
  <param name="use_gui" value="true"/> 

  <!-- Run joint state publisher (Gets robot_description from parameter server)-->
  <node pkg="joint_state_publisher"
    ns="nadie"
    type="joint_state_publisher"
    name="joint_state_publisher" >
    <param name="rate" value="50" />
  </node>

  <!-- Starting robot state publish which will publish tf --> 
  <node name="robot_state_publisher" ns="nadie" pkg="robot_state_publisher" type="state_publisher" /> 
  
  <!-- Launch visualization in rviz --> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nadie_control)/urdf/urdf.rviz" required="true" /> 

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <!-- Note that controller.yaml has a subspace 'nadie' so need to cancel the effects of the 'group' tag ns here -->
  <rosparam file="$(find nadie_control)/config/controller.yaml" command="load" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="spawn_urdf" ns="nadie" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model nadie" />


  <!-- load the controllers -->
  <node 
    name="controller_spawner" 
    ns="nadie"
    pkg="controller_manager" 
    type="spawner" 
    respawn="false"
    output="screen" 
    args="
      joint_state_controller
      diff_drive_controller
      "
  />

  <!-- Start the motor controller -->
  <node 
    if="$(arg do_motor_controller)"
    launch-prefix="$(arg launchPrefix)" 
    name="nadie_motor_controller_node" 
    ns="/nadie"
    pkg="nadie_control"  
    type="nadie_motor_controller_node" 
    output="screen" 
    respawn="false" >
    
    <remap from="odom" to="motor_odom" />
    <rosparam command="load" file="$(find nadie_control)/cfg/motor.yaml"/>
    <param name="do_odom_tf" value="$(arg do_odom_tf)" />
  </node>
</launch> 