<!--
Copyright (c) 2020 Michael Wimble

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<launch> 
    <arg name="do_amcl"                     default="true" />
    <arg name="do_d435"                     default="true" />
    <arg name="do_map_server"               default="true" />
    <arg name="do_merge_lasers"             default="true" />
    <arg name="do_move_base"                default="true" />
    <arg name="do_nadie_motor"              default="false" />
    <arg name="do_pointcloud_to_laserscan"  default="true" />
    <arg name="do_rviz"                     default="false" />
    <arg name="do_t265"                     default="true" />

    <arg name="robot_namespace" default="/nadie" />

    <!-- Launch the left D435 depth camera. Note this is outside of "nadie" group for name collision avoidance. -->
    <include if="$(arg do_d435)" file="$(find nadie_control)/launch/nadie2_d435_left.launch" />

    <!-- Launch the right D435 depth camera. Note this is outside of "nadie" group for name collision avoidance. -->
    <include if="$(arg do_d435)" file="$(find nadie_control)/launch/nadie2_d435_right.launch" />

    <!-- Load the map -->
    <include if="$(arg do_map_server)" 
             file="$(find snowberry_map)/launch/nadie2.map.launch" >
        <arg name="robot_namespace" value="$(arg robot_namespace)" />
    </include>

    <!-- Bring up the motor stack -->
    <include if="$(arg do_nadie_motor)" file="$(find nadie_control)/launch/nadie2_motor.launch" >
         <arg name="robot_namespace" value="$(arg robot_namespace)" />
   </include>

    <!-- Launch the T265 tracking camera -->
    <include if="$(arg do_t265)" file="$(find nadie_control)/launch/nadie2_t265a.launch" />

    <!-- Launch visualization in rviz --> 
    <node if="$(arg do_rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find nadie_rviz)/control.rviz" required="true" /> 

    <!-- Launch pointcloud2 for the left camera to laser scan for use with AMCL -->
    <include if="$(arg do_pointcloud_to_laserscan)" file="$(find nadie_control)/launch/nadie2_pointcloud_to_left_laserscan.launch" />

    <!-- Launch pointcloud2 for the right camera to laser scan for use with AMCL -->
    <include if="$(arg do_pointcloud_to_laserscan)" file="$(find nadie_control)/launch/nadie2_pointcloud_to_right_laserscan.launch" />

    <!-- Bring up AMCL -->
    <include if="$(arg do_amcl)" file="$(find nadie_control)/launch/nadie2_amcl.launch" />

    <!-- Merge the lasers -->
    <include if="$(arg do_merge_lasers)" file="$(find nadie_control)/launch/nadie2_merge_lasers.launch" />


    <!-- Bring up move_base -->
    <include if="$(arg do_move_base)" file="$(find nadie_control)/launch/nadie2_move_base.launch" />

</launch>