<launch>
    <group ns="t265">
        <machine
            address="192.168.2.103"
            default="true"
            env-loader="/home/ros/remote_env.sh"
            name="up1a"
            user="ros"
        />
        <include file="$(find realsense2_camera)/launch/rs_t265.launch" >
             <param name="initial_reset"         value="True"/>
        </include>
    </group>
</launch>
